footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

footer a .icon {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

@media (min-width: 600px) {
    footer a {
        font-size: 16px;
    }

    footer a .icon {
        font-size: 24px;
    }
}